@import "node_modules/bootstrap/scss/bootstrap";

header {
    background-color: #634391;
}

.btn-download {
    color: rgb(255, 231, 124);
    border-color: rgb(145, 114, 6);
}
.btn-download:hover {
    color: #fff;
    background-color: rgb(145, 114, 6);
    border-color: rgb(145, 114, 6);
    transition: 100ms;
}

#navbar-menu-button{
    border-color: transparent;
}

#navbar-menu-button:active{
    border: 3px solid rgba(255, 255, 255,0.3);
    outline: none;
}

#navbar{
    padding: .75rem .75rem;
}

#hr-navbar{
    border-top: 1px solid rgba(255, 255, 255,0.2)
}

.navbar-element{
    padding-left: 0%;
    padding-right: 0%;
}

.main-footer{
    background-color:rgb(33, 36, 37);
    position: absolute;
    width: 100%;
    bottom: 0;
}

.main-footer a{
    color: rgb(201, 195, 188);
    text-decoration: underline;
    font-weight: 600;
}

.main-footer a:hover{
    color: rgb(26, 150, 221);
}

.main-footer P{
    color: rgb(187, 181, 172);
}