@import "node_modules/bootstrap/scss/bootstrap";

$link-blue: rgb(26, 150, 221);
$text-grey: rgb(201, 195, 188);
$background-grey: #1e2021;

header {
    background-color: #634391;
}

.btn-download {
    color: rgb(255, 231, 124);
    border-color: rgb(145, 114, 6);
}
.btn-download:hover {
    color: #fff;
    background-color: rgb(145, 114, 6);
    border-color: rgb(145, 114, 6);
    transition: 100ms;
}

#navbar-menu-button{
    border-color: transparent;
}

#navbar-menu-button:active{
    border: 3px solid rgba(255, 255, 255,0.3);
    outline: none;
}

#navbar{
    padding: .75rem .75rem;
}

#hr-navbar{
    border-top: 1px solid rgba(255, 255, 255,0.2)
}

.navbar-element{
    padding-left: 0%;
    padding-right: 0%;
}

.main-footer{
    background-color:rgb(33, 36, 37);
    // position: absolute;
    width: 100%;
    // bottom: 0;
}

.main-footer a{
    color: $text-grey;
    text-decoration: underline;
    font-weight: 600;
}

.underlined-link{
    color: $text-grey;
    text-decoration: underline;
    font-weight: 600;
}

#releases-link{
    font-weight: 300;
}

.main-footer a:hover{
    color: $link-blue;
}

.main-footer P{
    color: rgb(187, 181, 172);
}

.main-content h1{
    font-size: calc(1.525rem + 3.3vw);
}

.main-content p{
    font-size: 23px;
}

#get-started-button{
    background-color: #634391;
    color: white;
}

#get-started-button:hover{
    background-color: #442e63;
    border-color: #442e63;
    transition: 100ms;
}


#content-download-button{
    border-color: rgb(187, 181, 172);
    color: rgb(187, 181, 172);;
}

#content-download-button:hover{
    background-color: rgb(75, 75, 75);
    color: white;
    border-color: rgb(75, 75, 75);
    transition: 100ms;
}

.btn-copy:hover{
    background-color: rgb(187, 181, 172);
    color:white;
    border-color: white;
}

#version-text{
    font-size: 15px;
}

main{
    background-color: $background-grey;
    color: $text-grey;
}

.p-top{
    font-size: 20;
    font-weight: 500;
}

.p-bottom{
    font-size: 16;
    font-weight: 400;
}

.p-bottom a{
    color: $link-blue;
    font-weight: 400;
}

.btn-side-content{
    color: $link-blue;
    border-color: $link-blue;
}

.btn-side-content:hover{
    background-color: $link-blue;
    color:white;
}

.code-box{
    background-color: #212425;
    position: relative;
}

code{
    color: $text-grey;
}

.btn-copy{
    position: absolute;
    top: 10px;
    right: -5px;
    background-color: transparent;
    color: $link-blue;
    border-color: $link-blue;
    font-size: 10;
}

.btn-copy:hover{
    background-color: $link-blue;
    color:white;
    border-color: white;
}

.side-icon-holder{
    border-radius: .75rem;
    padding: .75rem;
}

#first-side-icon{
    background-color: #1a6b45;
}

#second-side-icon{
    background-color: #0a50b8;
}

#third-side-icon{
    background-color: #5a3e83;
}

#forth-side-icon{
    background-color: #9c222e;
}

.terminal-span{
    color: $link-blue;
}